[submodule "Packages/com.nwh.common"]
	path = Packages/com.nwh.common
	url = git@github.com:NTU-Mecatron/com.nwh.common.git
	branch = main
	ignore = dirty
[submodule "Packages/com.nwh.dynamicwaterphysics"]
	path = Packages/com.nwh.dynamicwaterphysics
	url = git@github.com:NTU-Mecatron/com.nwh.dynamicwaterphysics.git
	branch = main
	ignore = dirty
[submodule "Packages/com.waveharmonic.crest"]
	path = Packages/com.waveharmonic.crest
	url = git@github.com:NTU-Mecatron/com.waveharmonic.crest.git
	branch = main
	ignore = dirty
[submodule "Packages/com.unity.perception"]
	path = Packages/com.unity.perception
	url = git@github.com:NTU-Mecatron/com.unity.perception.git
	branch = main
	ignore = dirty
[submodule "Packages/UnitySensors"]
	path = Packages/UnitySensors
	url = git@github.com:NTU-Mecatron/UnitySensors.git
	branch = master
	ignore = dirty
[submodule "Packages/ROS-TCP-Connector"]
	path = Packages/ROS-TCP-Connector
	url = git@github.com:NTU-Mecatron/ROS-TCP-Connector.git
	branch = main
	ignore = dirty
[submodule "Packages/com.mecatron.multi-domain-simulation"]
	path = Packages/com.mecatron.multi-domain-simulation
	url = git@github.com:NTU-Mecatron/com.mecatron.multi-domain-simulation.git
	branch = main
	ignore = dirty
