[submodule "Packages/com.nwh.common"]
	path = Packages/com.nwh.common
	url = git@github.com:NTU-Mecatron/com.nwh.common.git
[submodule "Packages/com.nwh.dynamicwaterphysics"]
	path = Packages/com.nwh.dynamicwaterphysics
	url = git@github.com:NTU-Mecatron/com.nwh.dynamicwaterphysics.git
[submodule "Packages/com.waveharmonic.crest"]
	path = Packages/com.waveharmonic.crest
	url = git@github.com:NTU-Mecatron/com.waveharmonic.crest.git
